
[Unit]
Description=CDRTool reset quota for sip accounts

[Service]
Type=oneshot
IgnoreSIGPIPE=false
KillMode=process
ExecStart=/var/www/prj/dnshosting/CDRTool/scripts/OpenSIPS/quotaReset.php
StandardOutput=null

