
body {
    background-color: #FFFFFF;
    font-family: Verdana, Arial,Telex, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 8pt;
}

h1,h2 {
    color: #5177bd;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

td select[size] {
    height:24px;
}

.hidden {
    display: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 7pt;
    color: black;
}

.visible {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 7pt;
    color: black;
}

.extrainfo {
   display: none;
}

.siptrace .extrainfo {
   display: none;
   background-color: #efefef;
   border-top: 2px solid #bbb;
   border-bottom: 2px solid #bbb;
}

.nav li a {
     font-size: 13px;
}

.btn-group .btn {
    line-height:14px;
}

#menu.btn-group .btn {
    line-height:18px;
}

div.btn-group ul.dropdown-menu  {
    line-height:18px;
}

ul.dropdown-menu  li{
    line-height:18px;
}

#rates_table td {
    padding:2px;
}

.cform,
#rates_table input.span2,
#rates_table input.span3,
#rates_table td input.span1,
#rates_table td input.btn {
    margin: 0;
}

.navbar .brand {
    -moz-transition: all 0.2s linear 0s;
    color: #EEEEEE;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.9);
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.125);*/
}

.main {
    padding: 55px 10px 5px 10px;
    background-color:#FFFFFF;
    margin-bottom:5px;
    overflow: auto;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

}

.well-small {
    margin-bottom: 0px;
}

.extrainfo .row-fluid [class*="span"] {
    min-height:13px ;
}

#search.table th, #search.table td ,#log.table td, #rates_table.table td {
    vertical-align: middle;
}

td div.input-append {
    margin-bottom: 0px;
}

#sessions.table th{
    text-align: center;
}

td div.progress {
    margin-bottom: 0px;
    height: 14px ;
}

select,
textarea {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#wrapper2 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 6px 6px 6px 6px;
    padding: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

input[type="checkbox"] {
    margin-top: 1px;
}

.checkbox.inline {
    padding-top: 0px;
}

#trace {
    padding-top: 5px;
}

.muted {
    background-color: #f9f9f9;
}

.p-footer {
    padding: 10px 15px;
    margin: 0 -5px -5px -5px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-append .btn {
    vertical-align: middle !important;
}
