
body {
    background-color: #FFFFFF;
    font-family: Verdana, Arial,Telex, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 8pt;
}

h1,h2 {
    color: #5177bd;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

td select[size] {
    height:24px;
}

.hidden {
    display: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 7pt;
    color: black;
}

.visible {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 7pt;
    color: black;
}

.extrainfo {
    display: none;
}

.extrainfo .row-fluid [class*="span"] {
    min-height:13px ;
}

.siptrace .extrainfo {
    display: none;
    background-color: #efefef;
    border-top: 2px solid #555555;
    border-bottom: 2px solid #555555;
}

.siptrace tbody tr:not(.extrainfo):hover td, .siptrace tbody tr:hover th {
    background-color: #f5f5f5;
}

.siptrace .extrainfo.red {
    background-color: rgba(189,54,47,.05);
}

.siptrace .extrainfo.blue {
    background-color: rgba(44,104,161,.1);
}

.siptrace .extrainfo.orange {
    background-color: rgba(192, 152, 83,.1);
}

.siptrace .extrainfo.green {
    background-color: rgba(104, 161, 44,.1);
}

.siptrace .extrainfo.cyan {
    background-color: rgba(0, 204, 204,.1);
}

.siptrace .extrainfo.magenta {
    background-color: rgba(136, 0, 136,.05);
}

#trace {
    margin-left:-20px;
    margin-right: -20px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    margin-bottom:0;
}

.nav li a {
     font-size: 13px;
}

.btn-group .btn {
    line-height:14px;
}

#menu.btn-group .btn {
    line-height:18px;
}

div.btn-group ul.dropdown-menu  {
    line-height:18px;
}

ul.dropdown-menu  li{
    line-height:18px;
}

#rates_table td {
    padding:2px;
}

.cform,
#rates_table input.span2,
#rates_table input.span3,
#rates_table td input.span1,
#rates_table td input.btn {
    margin: 0;
}

.navbar .brand {
    -moz-transition: all 0.2s linear 0s;
    color: #EEEEEE;
    font-weight: bold;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.9);
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.125);*/
}

.main {
    padding: 55px 10px 5px 10px;
    background-color:#FFFFFF;
    margin-bottom:5px;
    overflow: auto;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

}

.well-small {
    margin-bottom: 0px;
}


#search.table th, #search.table td ,#log.table td, #rates_table.table td {
    vertical-align: middle;
}

td div.input-append {
    margin-bottom: 0px;
}

#sessions.table th{
    text-align: center;
}

td div.progress {
    margin-bottom: 0px;
    height: 14px ;
}

select,
textarea {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#wrapper2 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 6px 6px 6px 6px;
    padding: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

input[type="checkbox"] {
    margin-top: 1px;
}

.checkbox.inline {
    padding-top: 0px;
}


.muted {
    background-color: #f9f9f9;
}

.p-footer {
    padding: 10px 15px;
    margin: 0 -5px -5px -5px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.input-append .btn {
    vertical-align: middle !important;
}

div.arrow {
    height:2px;
    background-color: #ccc;
    width: calc(100% - 24px);
    margin-left: 12px;
    margin-bottom: 7px;
    margin-top: 7px;
    position: relative;
}

div.arrow.right:before {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #ccc;
    content: '';
    position:absolute;
    margin-top: -5px;
    margin-left: -12px;
}


div.arrow.right:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    margin-top: -5px;
    border-top: 6px solid transparent;
    border-left: 12px solid #ccc;
    border-bottom: 6px solid transparent;
}

div.arrow.left:after {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #ccc;
    content: '';
    position:absolute;
    left: 100%;
    margin-top: -5px;
}

div.arrow.left:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -5px;
    margin-left: -12px;
    border-top: 6px solid transparent;
    border-right: 12px solid #ccc;
    border-bottom: 6px solid transparent;
}

div.arrow.blue,
div.arrow.blue.right:before,
div.arrow.blue.left:after {
    background-color: #2c68a1;
}
div.arrow.blue.right:after {
    border-left-color: #2c68a1;
}
div.arrow.blue.left:before {
    border-right-color: #2c68a1;
}

div.arrow.green,
div.arrow.green.right:before,
div.arrow.green.left:after {
    background-color: #68a12c;
}
div.arrow.green.right:after {
    border-left-color: #68a12c;
}
div.arrow.green.left:before {
    border-right-color: #68a12c;
}

div.arrow.red,
div.arrow.red.right:before,
div.arrow.red.left:after {
    background-color: #b94a48;
}
div.arrow.red.right:after {
    border-left-color: #b94a48;
}
div.arrow.red.left:before {
    border-right-color: #b94a48;
}

div.arrow.orange,
div.arrow.orange.right:before,
div.arrow.orange.left:after {
    background-color: #c09853;
}
div.arrow.orange.right:after {
    border-left-color: #c09853;
}
div.arrow.orange.left:before {
    border-right-color: #c09853;
}

div.arrow.cyan,
div.arrow.cyan.right:before,
div.arrow.cyan.left:after {
    background-color: #00cccc;
}
div.arrow.cyan.right:after {
    border-left-color: #00cccc;
}
div.arrow.cyan.left:before {
    border-right-color: #00cccc;
}

div.arrow.magenta,
div.arrow.magenta.right:before,
div.arrow.magenta.left:after {
    background-color: #880088;
}
div.arrow.magenta.right:after {
    border-left-color: #880088;
}
div.arrow.magenta.left:before {
    border-right-color: #880088;
}

