<style type="text/css">
<!--
body {
      background-color: #FFFFFF;
      font-family: Luxino Sans, Verdana, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-size:8pt;
      margin: 0 15px;
}
td {font-size: 8pt;}

label, input, button, select, textarea {
    font-size:8pt;
}
.hidden {
  display: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  color: black;
}

.visible {
  display: block;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  color: black;
}

.checked_groups { color: #FF1493;font-size: 7.5pt; border: 1px solid #cccccc;}

.contacts_table td {
	vertical-align: middle;
}

.control-group:nth-child(2n+1) {
    background-color: #f9f9f9;
}
.evenc           { vertical-align: middle ;background-color: #f9f9f9}
.evenc input, select {
margin-bottom: 0px;
}

td.bbot { 
  border-bottom: 1px solid #666666;
  vertical-align: middle;
  padding-top: 1px;
  background-color: transparent;
}
-->
</style>
