[Unit]
Description=Run CDRTool import rating tables each day

[Timer]
OnCalendar=*-*-* 05:15:00
RandomizedDelaySec=900

[Install]
WantedBy=timers.target