[Unit]
Description=Run CDRTool notifyLastSession each day

[Timer]
OnCalendar=*-*-* 02:15:00
RandomizedDelaySec=900

[Install]
WantedBy=timers.target
