
[Unit]
Description=CDRTool purge tables

[Service]
Type=oneshot
IgnoreSIGPIPE=false
KillMode=process
ExecStart=/var/www/CDRTool/scripts/purgeTables.php
StandardOutput=null

