
[Unit]
Description=CDRTool reset daily quota for sip accounts

[Service]
Type=oneshot
IgnoreSIGPIPE=false
KillMode=process
ExecStart=/var/www/CDRTool/scripts/OpenSIPS/quotaDailyReset.php
StandardOutput=null

