
[Unit]
Description=CDRTool radius rotate tables

[Service]
Type=oneshot
IgnoreSIGPIPE=false
KillMode=process
ExecStart=/var/www/prj/dnshosting/CDRTool/scripts/OpenSIPS/rotateTables.php
StandardOutput=null

