<?
$customerProperties=array( 
                          'support_order'       => array('name'     => 'Support order number',
                                                            'category' => 'billing',
                                                               'permission' => 'admin',
                                                               'invisible'  => true
                                                               )
                                                               
                          );

$soapEngines=array(
                           'sip' => array(
                                         'name'                => 'SIP platform',
                                         'username'            => 'admin',
                                         'password'            => 'passwd',
                                         'url'                 => 'http://sip.example.com:9200/',
                                         'version'             => 3,
                                         'record_generator'    => 'rg',
                                         'sip_engine'          => 'sip',
                                         'presence_engine'     => 'ssp',
                                         'customer_engine'     => 'sip',
                                         'voicemail_engine'    => 'vm',
                                         'customer_properties' => $customerProperties,
                                         'sip_proxy'           => 'sip.example.com',
                                         'voicemail_server'    => 'vm.example.com',
                                         'xcap_root'           => 'https://cdr.example.com/xcap-root',
                                         'support_email'       => 'support@example.com',
                                         'support_web'         => 'https://web.example.com',
                                         'enable_thor'         => false,
                                         'pstn_access'         => false,
                                         'welcome_message'     => '<h1>NGNPro provisionig client</h1>',
                                         'timeout'             => 5
                                         ),
                           'vm' => array('name'=> 'Voicemail server',
                                         'username'=> 'admin',
                                         'password'=> 'password',
                                         'url'     => 'http://vm.example.com:9200/',
                                         'skip'    =>  true
                                         ),
                           'ssp' => array('name'=> 'Simple Soap Proxy',
                                         'url'     => 'http://cdr.example.com:9300/',
                                         'skip'    => true
                                         ),
                                         
                          );
$recordGenerators =array (
			  'rg'=>array(
                                      'sipEngine' => 'sip',
                                      'enumEngine'=> 'sip'
                                     )
                         );

$resellerFilters=array('default'  => array('soap_filter'        => 'sip'
                                          ),
                       '1745'     => array('soap_filter'        => 'sip:customers,enum_ranges,enum_numbers sip2:sip_domains,sip_accounts,sip_aliases,trusted_peers',
                                           'record_generator'  => 'rg',
                                           'voicemail_engine'  => 'vm'
                                           )
                       );
?>
