<?
// Connections to NGN-Pro
$soapEngines=array(
                           'sp' => array('name'=> 'SOAP Engine',
                                         'username'=> 'username',
                                         'password'=> 'password',
                                         'url'     => 'http://example.com:9200/'
                                         )
                          );

// Used to generate SIP accounts and ENUM mappings
$recordGenerators =array (
                          'rg'=>array(
                                      'sipEngineId' => 'sp',
                                      'enumEngineId'=> 'sp'
                                     )
                         );

?>
