<?
// Connections to NGN-Pro

$soapEngines=array(
                           'se' => array('name'=> 'SOAP Engine',
                                         'username'=> 'username',
                                         'password'=> 'password',
                                         'url'     => 'http://sip.example.com:9200/',
                                         'voicemailEngine' => 've',
                                         'presenceEngine'  => 'pe',
                                         'recordGenerator' => 'rg'
                                         ),
                           'pe' => array('name'=> 'Simple Soap Proxy',
                                         'url'     => 'http://ssp.example.com:9300/ssp/',
                                         'skip'    => true
                                         ),
                           've' => array('name'=> 'Voicemail',
                                         'username'=> 'username',
                                         'password'=> 'password',
                                         'url'     => 'http://vm.example.com:9200/',
                                         'skip'    =>  true
                                         )
                  );

// Used to generate SIP accounts and ENUM mappings in bulk
$recordGenerators =array (
                          'rg'=>array(
                                      'sipEngine' => 'se',
                                      'enumEngine'=> 'se'
                                     )
                         );

?>
