<?
// Connections to NGNPro servers

$soapEngines=array(
                           'eng1' => array('name'            => 'SOAP Engine',
                                         'username'          => 'username',
                                         'password'          => 'password',
                                         'url'               => 'http://sip.example.com:9200/',
                                         'skipServices'      =>  array('enumMappings2','enumRanges2'),
                                         'voicemailEngine'   => 'eng1_vm',
                                         'presenceEngine'    => 'eng1_ssp',
                                         'recordGenerator'   => 'rg1',
                                         'sip_proxy'         => 'proxy.example.com',
                                         'support_company'   => 'Support Company B.V.',
                                         'support_web'       => 'http://www.example.com',
                                         'support_email'     => 'support@example.com',
                                         'sip_settings_page' => 'http://cdr.example.com/sip_settings.phtml',
                                         'cdrtool_address'   => 'http://cdr.example.com/CDRTool/',
                                         'xcap_root'         => 'http://cdr.example.com/xcap-root',
                                         'voicemail_server'  => 'vm.example.com',
                                         'pstn_access'       => true,
                                         'templates_path'    => './templates'
                                         ),
                           'eng1_ssp' => array('name'=> 'Simple Soap Proxy',
                                         'url'     => 'http://ssp.example.com:9300/ssp/',
                                         'skip'    => true
                                         ),
                           'eng1_vm' => array('name'=> 'Voicemail',
                                         'username'=> 'username',
                                         'password'=> 'password',
                                         'url'     => 'http://vm.example.com:9200/',
                                         'skip'    =>  true
                                         )
                  );
                  

// Used to generate SIP accounts and ENUM mappings in bulk
$recordGenerators =array (
                          'rg1'=>array(
                                      'sipEngine' => 'eng1',
                                      'enumEngine'=> 'eng1'
                                     )
                         );

$resellerFilters=array('default'  => array('soapFilter'      => 'eng1'
                                          ),
                       '1000'     => array('soapFilter'      => 'eng1:sip_accounts',
                                           'recordGenerator' => 'rg1',
                                           'soapEngine'      => 'eng2'
                                           )
                       );
?>
